.gachi {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
    max-height:843px;
    margin-block-start:-280px ;
    background-color: #FFF8E1;
    position: relative;
}

.gachimg {
    background-image: url('/background.png');
}